@media screen and (min-width: 768px)  {

  #restaurants-list li {
      max-width: 350px;
  }

  #breadcrumb {
      width: 50%;
  }

  .inside header {
    position: fixed;
  }

  .inside #map-container {
    height: 87%;
    position: fixed;
    width: 50%;
  }

  .inside #footer {
      position: fixed;
  }

  #restaurant-container, #reviews-container {
    width: 50%;
  }

  #restaurant-container {
      margin-top: 120px;
  }


}
